
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.displayAllDogs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media(min-width: 500px) {
  .displayAllDogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 750px) {
  .displayAllDogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1000px) {
  .displayAllDogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.displaySingleDog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.725);
  box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.18), inset 0 4px 10px 2px rgba(185,172,149,0.20);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.dogImgContainer {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 0.5rem;
    overflow: hidden;          /* klipper bilden i formen */
    position: relative;
}

.dogImgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;         /* ser till att bilden fyller utan att bli skev */
    display: block;            /* tar bort extra vit marginal */
}

.dogInfoContainer {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-rows: 3rem 1fr 3rem;
  height: 100%;
  width: 100%;
}


.mainContent {
  background-color: rgb(236, 236, 236);
}



